# Google Apps Script Web App Deployment URL
VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzYalJCPf4aEQ35VR_fya0zPSoPO0laOaCk0SGbIbB9PFeerzSIgv6x95MD_UlC8Y9B/exec

# Google Cloud OAuth 2.0 Client ID (Create at https://console.cloud.google.com/)
VITE_GOOGLE_CLIENT_ID=719964045968-cmh03lg080igf8f4lh8ng70mhhbqtt3q.apps.googleusercontent.com
