# DeriveCount Backend API Base URL (leave default http://localhost:3000 for local testing)
VITE_API_URL=http://localhost:3000

# Google OAuth 2.0 Web Client ID
VITE_GOOGLE_CLIENT_ID=719964045968-cmh03lg080igf8f4lh8ng70mhhbqtt3q.apps.googleusercontent.com
