# Google Apps Script Web App Deployment URL
VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzYalJCPf4aEQ35VR_fya0zPSoPO0laOaCk0SGbIbB9PFeerzSIgv6x95MD_UlC8Y9B/exec

# Supabase Auth Configuration
VITE_SUPABASE_URL=https://cmbjedfxyrrytsafymmm.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_6VPhNR8k-QeDrxK84BKNpA_HdNUo8q2
VITE_SUPABASE_REDIRECT_URL=
